/* line 1 */
body {
	font-family: Verdana;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

img {
	display: none;
}

#screen {
	float: left;
}

#header {
	border: 25px solid blue;
	clear:both;
	border-radius: 20px;
	text-align:center;
	
}

#gui {
	border: 25px solid red;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-radius: 20px;
	cursor: url(../images/pencil.png), auto;
}


#footer {
	border: 25px solid blue;
	clear:both;
	border-radius: 20px;
	text-align:center;
	padding-bottom: 20px;
}

#dbdiv {
	border: 10px solid green;
	float: left;
	display : block;
	/*height:470px;*/	
}
.dbdivLine{
	background-color: green;
}

#listOfGames {
	padding-bottom: 20px;


}

#createNewGame {
	float:bottom;

}

.gameSelect:hover{
	background-color: gray;
}
.highlight{
	background-color: yellow;
}